<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ _("Сообщество и знакомства") }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles_phone.css') }}">

</head>
<body>

<header>
  <div class="header-container">
    <h1>{{ _('Сообщество и знакомства') }}</h1>

    <nav class="main-nav">
      <ul>
        <li><a href="{{ url_for('home') }}">{{ _('Главная') }}</a></li>
        <li><a href="{{ url_for('bible') }}">{{ _('Библия') }}</a></li>
        <li><a href="{{ url_for('events') }}">{{ _('Мероприятия') }}</a></li>
        <li><a href="{{ url_for('about') }}">{{ _('О нас') }}</a></li>
      </ul>
    </nav>

    <div class="auth-buttons">
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('profile') }}" class="auth-btn">{{ _('Личный кабинет') }}</a>
        <a href="{{ url_for('logout_route') }}" class="auth-btn">{{ _('Выход') }}</a>
      {% else %}
        <a href="{{ url_for('register_route') }}" class="auth-btn">{{ _('Регистрация') }}</a>
        <a href="{{ url_for('login_route') }}" class="auth-btn">{{ _('Вход') }}</a>
      {% endif %}
    </div>
  </div>
</header>
<main>
    <section class="hero">
      <img src="{{ url_for('static', filename='jezuz_with_friends.jpg') }}" alt="jezuz_friends">
      <div class="text-overlay">
  <section class="community-section">
    <h2>{{ _("Доступные разделы") }}</h2>
    <ul>
      <li><a href="{{ url_for('chat') }}">{{ _("Общий чат") }}</a></li>
      <li><a href="{{ url_for('fellowship') }}">{{ _("Дружба и поддержка") }}</a></li>
      <li><a href="{{ url_for('relationship') }}">{{ _("Знакомства, основанные на ценностях и отношения") }}</a></li>
    </ul>
  </section>
</main>

</body>
</html>

